/* Semantic Elements */
header {
  grid-area: 1/1/1/13;
}

section {
  grid-area: 2/1/2/8;
}

aside {
  grid-area: 2/8/2/13;
}

footer {
  grid-area: 3/1/3/13;
}

/* Class Specific */
.blog-post-card {
  max-width: unset;
}

/* Id Specific */
#blogPostCards {
  grid-template-columns: repeat(2, 1fr);
}
